hr {
    margin: 0;
}

.fundo {
    align-items: center;
}

.rodapé {
    background-color: var(--branco);

}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}